vim/bundle/*
!vim/bundle/.gitkeep
vim/.swp/*
!vim/.swp/.gitkeep
vim/.undo/*
!vim/.undo/.gitkeep
vim/.backup/*
!vim/.backup/.gitkeep
vim/undodir/*
!vim/undodir/.gitkeep
nvim/plugin/packer_compiled.lua
vim/.netrwhist
